body {
    position: absolute;
    display: grid;
    inset: 0;
    align-content: center;
    place-items: center;
}

.Front-Page {
    display: flex;
    width: 80%;
    height: 70vh;
    flex-direction: column;
    box-shadow: 10px 10px 40px 0px rgba(0,0,0,0.75);
    justify-content: space-between;
}

.links {
    height: 60px;
    display: flex;
    justify-content: space-between;
}

.links button {
    width: 100%;
    height: 60px;
    border: 30px;
    background-color: #99afd2;
}

.header-photo {
    height: 200px;
    /*background-image: url(photos/ProgrammingHeader.jpg);*/
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 0.5;
}

.WorkInProgress {
    position: absolute;
    background-color: yellow;
    width: 100%;
    border: 2px dotted;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

button:hover {
    background-color: #6f92cb;
}

.Main-Content {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #617eac;
    justify-content: space-evenly;
}

h1, h2, p {
    margin-left: 20px;
    margin-right: 20px;
    font-family: "Nunito Sans", sans-serif;
}

p {
    font-family: "PT Sans", sans-serif;;
}

.MyPhoto {
    border: 2px solid red;
    width: 200px;
    height: 200px;
}

ul {
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

li {
    background-color: #6f92cb;
    padding: 20px;
    border-radius: 15px;
}

.Skills {
    text-align: center;
}

@media only screen and (max-width: 500px) {
    .Front-Page {
        box-shadow: none;
    }
    
    ul {
        flex-direction: column;
    }

    li {
        padding: 20px 50px;
    }
}
