body {
    position: absolute;
    display: grid;
    inset: 0;
    align-content: center;
    place-items: center;
    padding-left: 10%;
    padding-right: 10%;
    background-color: grey;
}

.Front-Page {
    display: flex;
    width: 80%;
    height: 90vh;
    flex-direction: column;
    box-shadow: 10px 10px 40px 0px rgba(0,0,0,0.75);
}

.links {
    height: 60px;
    display: flex;
    justify-content: space-between;
}

.links button {
    width: 100%;
    height: 60px;
    border: 30px;
    background-color: #c8b6c4;
}

.header-photo {
    height: 200px;
    /*background-image: url(photos/ProgrammingHeader.jpg);*/
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 0.5;
}

.WorkInProgress {
    position: absolute;
    background-color: yellow;
    width: 100%;
    border: 2px dotted;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

button:hover {
    background-color: red;
}

button:hover {
    background-color: red;
}

.Main-Content {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #c8b6c4;
    height: 100%;
    justify-content: space-evenly;
}

h1, h2, p {
    margin-left: 20px;
    margin-right: 20px;
}

.MyPhoto {
    border: 2px solid red;
    width: 200px;
    height: 200px;
}

ul {
    display: flex;
    list-style-type: none;
}

li {
    background-color: red;
    padding: 20px;
}
