body {
    background-color: lightslategray;
    margin: 0;
    position: absolute;
    display: grid;
    inset: 0;
    align-content: center;
    place-items: center;
    align-content: space-between;
}

.Front-Page {
    background-color: white;
    width: 70%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 0% 0% 5% 5%;
    padding: 40px;
}

.links button {
    padding: 15px;
    border: none;
    width: 100px;
}

.WorkInProgress {
    position: absolute;
    background-color: yellow;
    width: 100%;
    border: 2px dotted;
    text-align: center;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.links:hover {
    background-color: red;
}

button:hover {
    background-color: red;
}

.Main-Content {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: lightblue;
}

h1, h2, p {
    margin-left: 20px;
    margin-right: 20px;
}

.MyPhoto {
    border: 2px solid red;
    width: 200px;
    height: 200px;
}

